.stat-card {
    padding: 20px;
    border-radius: 12px;
    background: linear-gradient(135deg, #1e1e2f, #2c2c54);
    color: white;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.stat-card h2 {
    margin-top: 10px;
    font-weight: bold;
}

/* .chart-box {
    max-width: 320px;   
    margin: auto;       
} */
 .donut-container {
    width: 280px;       /* controls donut size */
    height: 280px;
    margin: auto;       /* center it */
}

