{% extends 'base.html' %}

{% block content %}
<div class="container text-center mt-5">
    <h2>🧠 AI Skin Tone Recognition</h2>
    <p class="text-muted">Upload a clear face image</p>

    <form method="POST" enctype="multipart/form-data"
          action="{% url 'ai_result' %}">
        {% csrf_token %}

        <input type="file" name="image"
               class="form-control mb-3" required>

        <button class="btn btn-primary">
            🔍 Analyze Image
        </button>
    </form>
</div>
{% endblock %}
