{% extends 'base.html' %}
{% block content %}

<h2>My Orders</h2>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Order ID</th>
            <th>Total</th>
            <th>Status</th>
            <th>Date</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>#{{ order.id }}</td>
            <td>₹{{ order.total_amount }}</td>
            <td>
                <span class="badge 
                {% if order.status == 'Pending' %} bg-warning
                {% elif order.status == 'Paid' %} bg-primary
                {% elif order.status == 'Shipped' %} bg-info
                {% elif order.status == 'Delivered' %} bg-success
                {% else %} bg-danger {% endif %}">
                    {{ order.status }}
                </span>
            </td>
            <td>{{ order.created_at }}</td>
            <td>
                <a href="{% url 'order_detail' order.id %}" class="btn btn-sm btn-outline-dark">
                    View
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
