{% extends 'base.html' %}

{% block title %}Your Cart{% endblock %}

{% block content %}

<h2>Your Cart</h2>

{% if cart|length == 0 %}
    <p>Your cart is empty.</p>
    <a href="{% url 'product_list' %}" class="btn btn-primary">
        Continue Shopping
    </a>
{% else %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Product</th>
            <th>Variant</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>
                Size: {{ item.size }} <br>
                Color: {{ item.color }}
            </td>
            <td>₹{{ item.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>₹{{ item.total_price }}</td>
            <td>
                <a href="{% url 'remove_from_cart' item.product_id|stringformat:'s'|add:'-'|add:item.size|add:'-'|add:item.color %}"
   class="btn btn-sm btn-danger">
    Remove
</a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h4 class="text-end">
    Total: ₹{{ cart.get_total_price }}
</h4>

<a href="{% url 'checkout' %}" class="btn btn-success">
    Proceed to Checkout
</a>
{% endif %}

{% endblock %}
